#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 
 .App ol li {
  font-size: 1.2em;
  margin: 10px;
 }
 
 .item-input {
  padding: 2px;
  min-width: 250px;
  min-height: 25px;
  font-size: 1.2em;
  margin: 10px;
 }
 
 .save-button {
  font-size: 1.2em;
 }
 
 .item-content {
  width: 75%;
 }
 
 @media(max-width: 700px) {
  .item-content {
      width: 95%;
  }
 }
 
 .completed {
  color: #666;
  text-decoration: line-through;
 }
